html {
    scroll-behavior: smooth;
  }

#image{
    width:450px;
    height:400px;
    padding-left: 90px;
    padding-top: 50px;
    float: left;
}
#image1{
    width:450px;
    height:450px;
    padding-right: 20px;
    padding-top: 110px;
    float: right;
}
.boxed{
    float:right;
    width: 60%;
    padding-right: 20px;
    padding-top:50px;
    margin-left: 10px;

}
.boxed1{
    float:left;
    width: 60%;
    padding-left: 100px;
    margin-right: 10px;
    margin-top:80px;
}
p{
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    padding-right: 30px;

}
h3{
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}
#serve{
    margin-top:20px;
    padding-left: -30%;
    margin-left: 40%; 
}

#service{
    padding-left: 45%;
    margin-top:100%;   
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    padding-bottom: -20%;
    margin-bottom: -10%;
    bottom: 10px;
    padding-left: 20%;
    margin-left: 10%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color:chocolate;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color:coral;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 100px 40%;
    height: 100%;
  }
  